.Bouncy {
    position: absolute;
    display: flex;
    align-items: center;
    width: 140px;
    height: 90px;
    bottom: 70px;
    z-index: 11;
    left: 120px;
}
.Expressions {
    position: absolute;
    height: 64px;
    width: 66px;
    z-index: 2;
    right: 0;
    bottom: 0;
    /* background-color: rebeccapurple; */
}
.Bouncy_Shocked {
    position: absolute;
    right: 0;
    z-index: 3;
    opacity: 0;
}

.Bouncy_Confused {
    position: absolute;
    right: 0;
    z-index:4;
    opacity: 0;
}
.Bouncy_Serious {
    position: absolute;
    right: 0;
    z-index: 5;
    top: 0;
    opacity: 0;
}

.Bouncy_Sad {
    position: absolute;
    right: 0;
    z-index: 5;
    left: 3.5px;
}

.trails {
    position: absolute;
    width: fit-content;
    z-index: 1;
    bottom: -2px;
    left: 2px;
    transform: scaleX(0);
    transform-origin: center right;
}
.trails > svg {
    position: relative;
}

@media screen and (max-width: 900px) and (orientation: landscape){
    .Bouncy{
        /* bottom: 28px; */
        width: 100px;
        height: 60px;
        left: 60px;
    }
    .Expressions {
        width: 58px;
        height: 50px;
    }
    .Bouncy_Shocked > svg{
        height: 50px;
        width: 52px;
    }
    .Bouncy_Confused > svg, .Bouncy_Serious > svg, .Bouncy_Sad > svg {
        height: 50px;
        width: 50px;
    }
    .trails{
        width: 90px;
        height: 54px;
        left: -15px;
    }
    .trails > svg{
        height: 54px;
    }
}
