.BackGC {
    height: 95%;
    width: 85vw;
    max-width: 1440px;
    max-height: 600px;
}
.GamePage {
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #72CBBA 0%, #C9DD9D 46.93%);
    overflow: hidden;
}
.Clouds {
    display: flex;
    top: 20px;
    width: max-content;
    position: absolute;
    transform: translateX(0);
    animation: clouds 800s linear infinite;
}
@keyframes clouds {
    form{
        transform: translateX(0);
    }
    to {
        transform: translateX(-75%);
    }
}
.Cloud{
    width: 85vw;
}
.cloudSvg {
    position: relative;
    width: 100%
}
.BuildingTops {
    display: flex;
    z-index: 10;
    position: absolute;
    bottom: -30px;
    width: fit-content;
    left: 0px;
    animation: motion 20s linear infinite;
}

@keyframes motion {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.BuildingTop {
    width: 100%;
    margin-left: -8px;
}
.Platform {
    width: max-content;
}

.FirstScene {
    display: flex;
    width: fit-content;
    z-index: 3;
    transform: translatex(-80%);
    position: absolute;
    bottom: -35px;
    animation: display 50s linear infinite;
}

@keyframes display {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-80%);
    }
}
.scene1 {
    width: 80vw;
    max-width: 1440px;
    height: 300px;
    transform: scale(0.9);
}
.SecondScene {
    display: flex;
    z-index: 2;
    position: absolute;
    bottom: -8px;
    transform: translateX(-80%);
    width: fit-content;
    animation: display2 100s linear infinite;
}
@keyframes display2 {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-80%);
    }
}

.scene2 {
    width: 85vw;
    max-width: 1440px;
    height: 300px;
}
.ThirdScene {
    display: flex;
    align-items: baseline;
    z-index: 1;
    bottom: -30px;
    position: absolute;
    transform: translateX(0);
    width: fit-content;
    animation: display3 200s linear infinite;
}
@keyframes display3 {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-80%);
    }
}
  
.scene3 {
    width: 85vw;
    max-width: 1440px;
    height: 430px;
    transform: scale(1); 
}
.BackGround {
    width: 75vw;
    max-width: 1440px;
}
.BackGround3 {
    width: 85vw;
}
