.InfoBar {
    position: absolute;
    z-index: 5;
    width: 100%;
}
.InContent {
    padding: 30px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ScoreTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}
.Score {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.NavScore_ImgL{
    width: fit-content;
    height: 28px;
    margin-right: 10px;
}
.NavScore_ImgXS {
    display: none;
}
.Score > span {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 1px #FF9900;
    color: #FFFFFF;

}
.HighScore {
    display: flex;
    align-items: center;
}
.NavHighScore_ImgL {
    width: fit-content;
    height: 24px;
    margin-right: 10px;
}
.NavHighScore_ImgXS {
    display: none;
}

.HighScore > span {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FF9900;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .InfoBar{
        top: 10px;
    }
    .InContent{
        padding: 15px 25px 0px 25px ;
    }
    .NavScore_ImgL{
       display: none;
    }
    .NavScore_ImgXS{
        display: block;
        margin-right: 10px;
    }
    .Score > span {
        font-size: 14px;
        font-weight: 200;
    }
    .NavHighScore_ImgL{
        display: none;
    }
    .NavHighScore_ImgXS {
        display: block;
        margin-right: 10px;
    }
    .HighScore > span{
        font-size: 14px;
        font-weight: 200;
    }
}