.Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85vw;
    max-width: 1440px;
    max-height: 600px;
    border-radius: 10px;
    background: #58D4DE;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.IntroBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}
.Bounce {
    position: relative;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BounceText {
    position: relative;
    top: -30px;
}
.loading {
    width: 250px;
    height: 12px;
    background: #FFFFFF;
    border: 3px solid #990303;
    box-sizing: border-box;
    border-radius: 50px;
}
.loadStatus {
    width: 0%;
    height: 6px;
    background: linear-gradient(180deg, rgba(255, 153, 0, 0.9) 0%, rgba(255, 153, 0, 0.81) 100%);
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    animation: loading 7s linear forwards;
}

@keyframes loading {
    0% {
        width: 0%
    }
    40% {
        width: 30%
    }
    60% {
        width: 30%
    }
    100% {
        width: 100%
    }

}
.Botton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 140px;
    background: #FF9900;
    box-shadow: 3px 4px 3px 1px rgba(0, 0, 0, 0.53), inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.71);
    border-radius: 10px;
    cursor: pointer;
}
.true {
    animation: toggle 0.18s linear ;
}

@keyframes toggle {
    0% {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70), inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.70);
    }
    70% {
        box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.70), inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.70);
    }
    100% {
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.54), inset -2px -2px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.71);
    }
}

.Botton > p {
    font-family: 'Mochiy Pop One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}


.Info {
    position: relative;
    top: -50px;
    width: 295px;
    height: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.40);
}