
.PlayBuilding {
    z-index: 10;
    bottom: -30px;
    display: flex;
    align-items: baseline;
    position: absolute;
    width: fit-content;
    left: -20px;
    /* transform: translateX(-85%); */
}
.BTone{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 1400px;
}
.fix_positionOne {
    left: -25px;
}
.fix_positionTwo{
   left: -50px 
}
.fix_positionThree{
    left: -75px
}

.Obstacle1, .Obstacle2, .Obstacle3 {
    position: absolute;
    Top: 0px;
    right: 40px ;
}
.Obstacle1 {
    top: 8px;
}
.Obstacle2{
    top: 8px;
}
.BuildingTop{
    bottom: 0px;
    width: fit-content;
    position: absolute;
    /* display: none; */
}

@media screen and (max-width: 900px) and (orientation: landscape){
    .BTone{
        width: 1100px;
    }
    .Platform { 
        width: 1100px;
    }
    .PlayBuilding{
        bottom: -24px;
    }
    .ObstacleOne > svg, .ObstacleTwo > svg, .ObstacleThree > svg{
        height: 60px;
    }
    .Obstacle1, .Obstacle2, .Obstacle3{
        top: 55px;
    }
    
}
/* @media screen and (max-width: 500px) and ori {
    
} */